@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*
	#131F6B
	#25408e
	#E5901F
*/
* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: grey;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif; 
}
section, footer {
	padding:4em 0;
}
footer {
	background:#131F6B;
}
h1  {
	font-size:38px;
	font-weight:bold;
}
h2  { 
	font-size:24px;
	font-weight:bold;
}
li ul {
	display:none;
}
/*li:hover ul {
	display:block;
}*/
#intro {
	background:url(../Images/box.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 95vh;
}
#call-to-action, #our-community {
	background:#25408e;
	color: #fff;
}
#call-to-action a, #our-community a {
	color:inherit;
}
#three-column {
	width:1200px;
	margin:auto;
}
.column {
	float: left;
	width:33.33%;
	padding: 0 1em;
}
.column img {
	width:100%;
}
.clearfix:after, .column:after {
	clear:both;
	display:block;
	content:"";
}
